@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-image: linear-gradient(to right bottom, #3f3f46, #43416c, #4d4090, #6039b2, #7e22ce);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main{
  background-image: linear-gradient(to right bottom, #3f3f46, #43416c, #4d4090, #6039b2, #7e22ce);
}